<html ng-app="ngBlog">
<head>
  <title>Blog</title>
  <!--ng-->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>

  <!--bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/myStyles.css">

  <script src="ngApp.js"></script>
  <script src="controllers/blogController.js"></script>
  <script src="services/blogDataService.js"></script>
  <script src="services/postService.js"></script>
  <script src="components/post.component.js"></script>

  <!--beautify URI-->
  <base href="/">
</head>
<body>
  <nav class="navbar navbar-full navbar-dark bg-primary" ng-include="'views/partials/nav.partial.html'"></nav>
  <div ng-view></div>

  <!--jQuery-->
  <script src="js/jquery-2.2.3.min.js"></script>
</body>
</html>
